
.addasiteStepOne {
    background-color: var(--gtt-subtle-grey);
  
    .div {
      background-color: var(--gtt-subtle-white);
      border-radius: 10px;
      padding: 2rem;
    }
  
    .overlapStepOne {
      border-radius: 10px;
      background-color: var(--gtt-card-bg-white);
      padding: 2rem;
    }
  
    .order-number {
      color: var(--gtt-text-grey);
      font-size: 0.875rem;
    }
  
    .text-wrapper {
      color: var(--gtt-text-black);
      font-weight: 700;
      font-size: 1.5rem;
      text-align: left;
    }
  
    .frame {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .div-wrapper {
      background-color: var(--gtt-card-bg-white);
      border: 1px solid var(--gtt-border-grey);
      border-radius: 5px;
      transition: all 0.3s;
      text-align: left;
      width:100%;
  
      &:hover {
        background-color: var(--gtt-hover-grey);
      }
    }
  
    .text-wrapper-2 {
      font-size: 0.975rem; 
      color: var(--gtt-text-grey);
    }
  
    .frame-2 {
      background-color: var(--gtt-card-bg-white);
      border-radius: 5px;
    }
  
    .text-wrapper-3 {
      color: var(--gtt-text-black);
      font-weight: 700;
      font-size: 1.1rem;
    }
  
    .check {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }
  }
  
  .text-center {
    text-align: left !important;
  }
  
  