.card-small-tasks {
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--gtt-white);
    margin-bottom: 20px;

    .frame-10 {
        width: 100%;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .img {
        height: 20px;
        position: relative;
        width: 20px;
    }

    .my-tasks-complete {
        font-family: 'Arial-Bold', Helvetica;
        font-size: 14px;
        font-weight: 400;
        text-overflow: ellipsis;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        display: flex;

        .text-wrapper-20 {
            color: #000000;
            font-weight: 700;
        }

        .text-wrapper-21 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100px;
            color: #51808f;
            font-family: 'Arial-Regular', Helvetica;
        }
    }
}
